###imports
import(stats, fitdistrplus, Renext)

###exports
#bestfit class
export(bestfit)

#predI class
export(predI)
S3method(print, predI)

#predP class
export(predP)
S3method(print, predP)

#predmix class
export(predmix)
S3method(print, predmix)


